
// Regular borders
.border {
    border-style: $border-style;
    border-width: $border-width;
}
.border-top {
    border-top-style: $border-style;
    border-top-width: $border-width;
}
.border-right {
    border-right-style: $border-style;
    border-right-width: $border-width;
}
.border-bottom {
    border-bottom-style: $border-style;
    border-bottom-width: $border-width;
}
.border-left {
    border-left-style: $border-style;
    border-left-width: $border-width;
}


// Heavy borders
.border-heavy {
    border-style: $border-style;
    border-width: $border-heavy-width;
}
.border-heavy-top {
    border-top-style: $border-style;
    border-top-width: $border-heavy-width;
}
.border-heavy-right {
    border-right-style: $border-style;
    border-right-width: $border-heavy-width;
}
.border-heavy-bottom {
    border-bottom-style: $border-style;
    border-bottom-width: $border-heavy-width;
}
.border-heavy-left {
    border-left-style: $border-style;
    border-left-width: $border-heavy-width;
}


// No borders. At all. Whatsoever.
.border-none { border: 0 }


// Real borders have curves
.rounded { border-radius: $border-radius }
.rounder { border-radius: ($border-radius * 2) }
.unrounded { border-radius: 0 }
