
ol { list-style: $list-ordered-style }
ul { list-style: $list-unordered-style }
ol, ul { 
    margin: $list-margin;

    &.no-style { list-style: none }

    ol, ul {
        font-size: $sublist-font-size;
        margin-bottom: 0;
        margin-top: 0;
    }
    ol { list-style: $sublist-ordered-style }
    ul { list-style: $sublist-unordered-style }
}
