
@media (min-width: #{$breakpoint-lg}) {
    .lg-col {
        float: left;
    }
    .lg-col-right {
        float: right;
    }
    @for $i from 1 through $grid-columns {
        .lg-col-#{$i} {
            width: ($i/$grid-columns * 100%);
        }
    }
}
