
// Body text
:root {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
}

p { margin-bottom: $p-margin-bottom }


// Headings
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}
h1, .h1 { font-size: $h1 }
h2, .h2 { font-size: $h2 }
h3, .h3 { font-size: $h3 }
h4, .h4 { font-size: $h4 }
h5, .h5 { font-size: $h5 }
h6, .h6 { font-size: $h6 }
h1, h2, h3, h4, h5, h6 {
    margin-top: $heading-margin-top;
    margin-bottom: $heading-margin-bottom;
}
