
// Character styles
.light   { font-weight: $font-weight-light }
.regular { font-weight: $font-weight-regular }
.bold    { font-weight: $font-weight-bold }
.strong  { font-weight: $font-weight-strong }
.heavy   { font-weight: $font-weight-heavy }

// Font size adjustments
.size-xs  { font-size: 60% }
.size-sm  { font-size: 80% }
.size-lg  { font-size: $h2 }
.size-xl  { font-size: $h1 }
.size-xxl { font-size: ($h1 * 2) }

// Decoration
.italic    { font-style: italic }
.underline { text-decoration: underline }
.caps      { text-transform: uppercase }

// Font stack overrides
.font-body { font-family: $base-font-family !important }
.font-head { font-family: $heading-font-family !important }

// Alignment
.left     { text-align: left }
.right    { text-align: right }
.center   { text-align: center }
.v-middle { vertical-align: middle }

// Wrapping
.nowrap     { white-space: nowrap }
.break-word { word-wrap: break-word }
.justify    { text-align: justify }
.truncate   {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
