
@function get-color($color-name) {
    $color: map-get($color-palette, $color-name);

    @return $color;
}

@function color-light($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-white, $base-color, $color-mix-minor);

    @return $finished-color;
}

@function color-lighter($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-white, $base-color, $color-mix-major);

    @return $finished-color;
}

@function color-dark($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-black, $base-color, $color-mix-minor);

    @return $finished-color;
}

@function color-darker($color) {
    $base-color: get-color($color);
    $finished-color: mix($color-base-black, $base-color, $color-mix-major);

    @return $finished-color;
}
