
.button {
    border: $button-border;
    border-radius: $button-border-radius;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    height: auto;
    line-height: $button-line-height;
    padding: $button-padding-y $button-padding-x;
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: $button-bg-color;
    color: $button-text-color;

    &:hover { 
        box-shadow: inset 0 0 0 ($button-padding-x * 4) rgba($button-hover-shade, $button-hover-shade-alpha);
        border-color: rgba($button-hover-shade, $button-hover-shade-alpha);
        outline: none;
        text-decoration: none;
    }

    &.inverted { 
        background-color: transparent;
        border-color: currentColor;
    }
}
