@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,700');

// *** Base Reset ***
@import "./modules/reset/reset";
@import "./modules/reset/box-sizing";


// *** Grid layout ***
$grid-columns: 12;
$breakpoint-sm: 30rem;
$breakpoint-md: 42rem;
$breakpoint-lg: 54rem;

@import "./modules/grid/grid";
@import "./modules/grid/sm-grid";
@import "./modules/grid/md-grid";
@import "./modules/grid/lg-grid";


// *** Whitespace ***
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
$space-4: 4rem;

@import "./modules/whitespace/margins";
@import "./modules/whitespace/padding";


// *** Layout ***
$container-width: $breakpoint-lg;

@import "./modules/layout/display";
@import "./modules/layout/layout";
@import "./modules/layout/overflow";
@import "./modules/layout/position";
@import "./modules/layout/responsive"; 
@import "./modules/layout/sizing";


// *** Flex ***
@import "./modules/flex/parent-utils"; 
@import "./modules/flex/child-utils"; 


// *** Typography ***
:root { font-size: 20px }
a {
	text-decoration: none;

	&:hover { text-decoration: underline }
}

$font-weight-light: 300; 
$font-weight-regular: 400; 
$font-weight-bold: 600;
$font-weight-strong: 700;
$font-weight-heavy: 900;

$base-font-family: 'Lato', Arial, sans-serif;
$base-font-weight: $font-weight-light;
$base-line-height: 1.5;

$heading-font-family: 'Raleway', Arial, sans-serif;
$heading-font-weight: 700;
$heading-line-height: 1.25;
$h1: 3rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;
$heading-margin-top: $space-2;
$heading-margin-bottom: $space-1;

$p-margin-bottom: $space-2;

@import "./modules/typography/type-defaults";
@import "./modules/typography/type-utilities";


// *** Lists ***
$list-margin: 0 0 0 $space-2;
$list-ordered-style: decimal;
$list-unordered-style: disc;
$sublist-ordered-style: lower-roman;
$sublist-unordered-style: circle;
$sublist-font-size: 80%;

@import "./modules/lists/lists";


// *** Background ***
@import "./modules/background/background-utilities";


// *** Borders ***
$border-style: solid;
$border-width: 1px;
$border-heavy-width: 3px;
$border-radius: 5px;

@import "./modules/borders/border-utilities";


// *** Colors ***
@import "./functions/color-functions";

$color-base-black: #000;
$color-base-white: #FFF;
$color-mix-minor: 20%;
$color-mix-major: 50%;
$color-palette: (
    'red': #900,
    'yellow': #FFBE1A,
    'green': #1E852F,
    'blue': #344152,
    'gray': #B3BBBC
);

@import "./modules/colors/type-colors";
@import "./modules/colors/type-color-variants";
@import "./modules/colors/background-colors";
@import "./modules/colors/background-color-variants";
@import "./modules/colors/border-colors";
@import "./modules/colors/border-color-variants";


// *** Buttons ***
$button-bg-color: color-dark('blue');
$button-text-color: $color-base-white;
$button-border: $border-width $border-style transparent;
$button-border-radius: $border-radius; 
$button-font-family: $base-font-family;
$button-font-size: .85rem;
$button-font-weight: $font-weight-regular;
$button-line-height: 1.125;
$button-padding-x: $space-2;
$button-padding-y: $space-1;
$button-hover-shade: $color-base-white;
$button-hover-shade-alpha: 0.35;
$button-disabled-opacity: 0.3;

@import "./modules/buttons/buttons";

