
.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.display-none { display: none !important }
.hide {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
